<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<% if current_user %>
  <div class="user">
    <%= current_user.username %>
    <%= link_to 'Log Out', logout_path %>
  </div>
<% else %>
  <%= link_to 'Sign Up', signup_path %>
  <%= link_to 'Log In', login_path %>
<% end %>