<% if @your_total_wallpapers_changed_all == 0 %>
  <div class="accent-block spaced">
    <div class="accent-block__charm">
      <ion-icon name="information-circle"></ion-icon>
      Need help?
    </div>
    I made a getting started guide on the <a href="<%= help_path %>">help page!</a>
  </div>
<% end %>

<% unless current_user.nil? %>
  <% content_for(:html_title) { 'Walltaker Dashboard' } %>
  <div class="dashboard">
    <div class="dashboard__recent">
      <h2>Recent Backgrounds</h2>
      <div class="dashboard__recent__content">
        <%= turbo_stream_from "dashboard_recent_posts" %>
        <%= render 'recent_posts', recent_posts: @recent_posts %>
      </div>
    </div>
    <div class="dashboard__online">
      <h2>Online Now</h2>
      <%= link_to browse_path do %>
        <div class="dashboard__online__content"><%= @online_links_count %></div>
      <% end %>
    </div>
    <div class="dashboard__updates">
      <h2>Changes</h2>
      <p>There has been a total of <%= pluralize @total_wallpapers_changed_today, 'wallpaper change' %> today.</p>

      <div class="chart">
        <%= area_chart @total_wallpapers_changed_grouped_by_day, colors: ["#606575"], legend: false, height: "60px", library: {
          scales: {
            x: {
              display: false,
            },
            y: {
              display: false,
            },
          }
        } %>
      </div>
      <div class="dashboard__updates__content">
        <table>
          <tr>
            <th>User</th>
            <th>Different Wallpapers Today</th>
          </tr>
          <% @total_wallpapers_changed_today_by_user.each do |past_link| %>
            <tr>
              <td>
                <%= link_to past_link.username, user_path(past_link.username), data: { controller: "user-reference" } %>
              </td>
              <td>
                <%= pluralize past_link.total, 'wallpaper' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="dashboard__total-updates">
      <h2>All-time</h2>
      <div class="dashboard__total-updates__content"><em><%= @total_wallpapers_changed_all %></em>wallpapers</div>
    </div>
    <div class="dashboard__your-total-changes">
      <h2>Your Total</h2>
      <div class="accent-block tight-top">
        <div class="accent-block__charm">
          <ion-icon name="eye-off"></ion-icon>
          Only you see this
        </div>
        <div class="dashboard__total-updates__content"><em><%= @your_total_wallpapers_changed_all %></em>wallpapers
        </div>
      </div>
    </div>
    <div class="dashboard__newest-user">
      <h2>Newest User</h2>
      <div class="dashboard__newest-user__content">
        <%= link_to @newest_user.username, user_path(@newest_user.username) %>
      </div>
    </div>

    <div class="dashboard__leaderboard">
      <%= turbo_frame_tag 'leaderboard', src: leaderboard_path %>
    </div>
  </div>
<% end %>

<h2>What is it?</h2>
<p>
  First off:
  <strong>Walltaker is an app built by adults, for adults. You must be over the age of 18 to use it.</strong>
  Walltaker is
  inspired by the <a href="https://www.wallclaimer.com/">WallClaimer</a> app, which allows you to set the
  wallpaper of your friends phones. This however leads to some weird cases where people post stuff that'd be on
  your
  metaphorical blacklist. With that in mind, I wanted it to be restricted to
  <a href="https://e621.net">e621.net</a>
  results, with an enforced blacklist. This keeps you in control, but not <em>too much</em> control.
</p>

<h2 id="what-do-i-need">What do I need?</h2>
<p>
  Walltaker requires you to <strong>make an account on the website (here!) first.</strong> Once you have an
  account, you
  can generate
  links to send to friends/enemies, which will enqueue new wallpapers for your account. When you want to start
  seeing
  these new wallpapers, <strong>then you can download the companion apps listed below</strong> which is able to
  listen
  to wallpaper changes to any
  account. Enter your username, and then go about your day!
</p>

<h2 id="companion-apps">Clients</h2>
<ul>
  <li>
    <a href="https://github.com/PawCorp/walltaker-desktop-client/releases/latest" target="_blank">Desktop
      Client</a>
    (Windows/Linux)
  </li>
  <li>
    <a href="https://github.com/PawCorp/walltaker-android-client/releases/latest" target="_blank">Android
      Client</a>
    (Android 12+)
  </li>
  <li>
    <a href="https://github.com/Lycraon/Walltaker-for-WallpaperEngine" target="_blank">Lycraon's Wallpaper Engine
      Client</a>
    (<a href="https://store.steampowered.com/app/431960/Wallpaper_Engine/">Wallpaper Engine for Windows</a>)
  </li>
  <li>
    <a href="https://github.com/Deanskond/walltaker_automate" target="_blank">Deanskond's Automate Client</a>
    (<a href="https://llamalab.com/automate/">Automate App for Android</a>)
  </li>
  <li>
    <a href="https://github.com/PawCorp/walltaker-macos/releases/latest" target="_blank">MacOS Client</a>
    (MacOS)
  </li>
  <li>
    <a href="http://joi.how/" target="_blank">JOI.how</a> (Web-based)
  </li>
</ul>

<h2>Help us out!</h2>
<p>
  We'll be upfront! This site very cheap to operate. We have very little in running costs, and I am personally OK with
  paying the $3-5 a month it costs in bandwidth and compute that it takes to keep this service online; however, a few
  folks have asked if they can compensate our <strong>time</strong> as a tip, so we set up a kofi!
</p>
<p>
  Know that this is
  just for donating to us, because we like money. The site is cheap to run, interesting to work on, and is
  <strong>not in danger</strong> of being shut down due
  to expenses. It's just a nice gesture that's very much appreciated.
</p>

<a href="https://ko-fi.com/pawcorp" target="_blank" class="kofi-button">
  <button>
    <ion-icon name="cafe"></ion-icon>
    Just the tip!
  </button>
</a>
