<div id="<%= dom_id comment %>" class="comment">
  <strong><%= comment.user.username %>: </strong>
  <p><%= comment.content %></p>
  <%= time_tag comment.created_at, class: 'small' do %>
    <%= time_ago_in_words comment.created_at %> ago
  <% end %>
</div>
