<% content_for(:html_title) { "Walltaker #{@kink.name} Kink" } %>

<div class="task-tools">
  <div class="left">
    <%= link_to "Back", :back %>
  </div>
  <div class="right">
    <%= render 'kink/e621_status', kink: @kink %>

    <%= button_to search_path, method: :get, params: {q: "!#{@kink.name}"} do %>
      <ion-icon role="presentation" name="search-sharp"></ion-icon>
      Find Links
    <% end %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="bookmark" class="big"></ion-icon>
  <%= @kink.name.titlecase %>
</h2>

<% if @users.count > 0 %>
  <div class="user_segments">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
<% else %>
  <h4>No one <%= current_user ? 'else' : '' %> has this kink.</h4>
  <p>
    Kinks can be set on your profile, try and get others to use this one if you want to see more of it! When set, you'll
    see <span class="mock-button"><%= @kink.name %></span> appear in their profile, and they will be listed here.</span>
  </p>
<% end %>