<% content_for(:html_title) { "Login to Walltaker" } %>

<h2><ion-icon role="presentation" name="person"></ion-icon> Log In</h2>

<% if @error %>
  <div class="error_messages">
    <%= @error %>
  </div>
<% end %>

<%= form_with method: :post, url: session_index_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field checkbox">
    <%= check_box_tag :keep_me_logged_in %>
    <%= label_tag 'Keep me logged in for 2 weeks' %>
  </div>
  <%= submit_tag 'Log In' %>
  <br/>
  <br/>
  <small><%= link_to 'I forgot my password, please save me ever benevolent walltaker god.', forgor_path %></small>
<% end %>