<%= form_with url: forgor_apply_commit_url, method: :post do |f| %>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Save new password' %>
<% end %>