<h2><ion-icon name="person"></ion-icon> Sign Up</h2>

<%= form_with model: @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Sign up' %>
<% end %>
