<% content_for(:html_title) { "Walltaker #{@user.username}" } %>

<div class="task-tools">
  <% if _filtered_referrer %>
    <div class="left">
      <%= link_to "Back", :back %>
    </div>
  <% end %>
  <% if (!current_user || !@has_friendship) && (!@is_current_user || !current_user) %>
    <div class="right">
      <a href="<%= url_for :action => :new, :controller => :friendships, :params => { :with => @user.username } %>" title="Become friends" class="no-underline">
        <ion-icon role="presentation" name="person-add"></ion-icon>
        Send Friend Request
      </a>
    </div>
  <% end %>

  <% if (current_user && @has_friendship) && !@is_current_user %>
    <div class="right">
      <a href="<%= resolve_message_thread_index_path(user_id: @user.id) %>" title="Become friends" class="no-underline">
        <ion-icon role="presentation" name="mail"></ion-icon>
        Send message
      </a>
    </div>
  <% end %>

  <% if current_user && current_user.id == @user.id %>
    <div class="right">
      <%= button_to "New link", new_link_path, method: :get %>
    </div>
  <% end %>
</div>

<h2 class="one-line <%= @total_orgasms_by_day.present? ? 'with-chart' : '' %>">
  <ion-icon role="presentation" name="person" class="big"></ion-icon>
  <span data-controller="user-reference" data-user-reference-hide-online-value><%= @user.username %></span>
  <% if @any_links_online %>
    <strong class="online" title="User is online"></strong>
  <% end %>
  <small>
    <%= link_to user_sets_path(@user.username) do %>
      Set <%= @user.set_count %> wallpapers
    <% end %>
  </small>
  <small>
    <% if @user.username == 'gray' %>
      Caused <%= pluralize @total_orgasms_caused, 'orgasm' %>, technically.
    <% else %>
      Caused <%= pluralize @total_orgasms_caused, 'orgasm' %>
    <% end %>
  </small>
  <small>
    Last online
    <%= @most_recent_pinged_link && @most_recent_pinged_link[0].last_ping ? time_tag(@most_recent_pinged_link[0].last_ping, (time_ago_in_words @most_recent_pinged_link[0].last_ping) + ' ago') : 'never' %>
  </small>
  <% if @user.viewing_link %>
    <small>
      Currently viewing
      <%= link_to "#{@user.viewing_link.user.username}'s link", @user.viewing_link %>
    </small>
  <% end %>

  <% if @total_orgasms_by_day %>
    <%= area_chart @total_orgasms_by_day, colors: ["#606575"], legend: false, height: "60px", suffix: '💦', library: {
      scales: {
        x: {
          display: false,
        },
        y: {
          display: false,
        },
      }
    } %>
  <% end %>
</h2>

<% unless @is_editing %>
  <%= render 'details', { user: @user, is_current_user: @is_current_user } %>
<% else %>
  <%= render 'details_edit', user: @user %>
<% end %>

<%= render partial: 'past_links', locals: { past_links: @past_links } %>

<% unless @past_links.empty? %>
  <%= link_to past_links_path, class: 'small see-all-past-wallpapers' do %>
    See past 50 wallpapers
    <ion-icon role="presentation" name="arrow-forward"></ion-icon>
  <% end %>
<% end %>


<% if @is_current_user %>
  <div class="one-col">
    <%= turbo_frame_tag 'settings', src: settings_path %>
  </div>
  <div class="two-col">
    <%= turbo_frame_tag 'orgasm_form', src: '/nut/orgasms/new' %>
    <%= turbo_frame_tag 'api_key_form', class: "accent-block" do %>
      <div class="accent-block__charm">
        <ion-icon role="presentation" name="eye-off"></ion-icon>
        Only you see this
      </div>

      <div>
        <h2>
          <ion-icon role="presentation" name="key" class="big"></ion-icon>
          Your API key
        </h2>

        <p>
          Use this key to grant special powers to a client you're using. It does not grant full access to your account,
          but does allow clients to set a response on links on your behalf.
          <strong>You can only have 1 API key at once.</strong> When you randomize a new one, the old one will stop
          working.
        </p>
      </div>

      <div class="api-key" data-controller="api-key-form">
        <% if @user.api_key.present? %>
          <div class="api-key__key" data-api-key-form-target="key">
            <ion-icon role="presentation" name="key" class="big"></ion-icon><%= @user.api_key %></div>
          <%= button_to user_new_api_key_path(current_user.username), class: 'danger-button accent-block__button' do %>
            Give me a new one
          <% end %>
        <% else %>
          <%= button_to user_new_api_key_path(current_user.username), class: 'accent-block__button' do %>
            Generate my API key
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @links.count.positive? %>
  <% @links.each do |link| %>
    <div data-controller="go" data-go-to-value="<%= link_url(link) %>">
      <%= render link %>
    </div>
  <% end %>
<% else %>
  <h4>This user has no links</h4>
  <p>
    You should pester them into making some! Click the
    <strong>
      <ion-icon role="presentation" name="person-add"></ion-icon>
      Send Friends Request
    </strong> button in the tool bar to send them a friend request. Maybe that's the motivation they
    need!
  </p>
<% end %>