<%= turbo_frame_tag 'settings', target: '_top' do %>
  <div class="accent-block">
    <div class="accent-block__charm">
      <ion-icon role="presentation" name="eye-off"></ion-icon>
      Only you see this
    </div>

    <%= form_with model: @user, url: settings_path, method: :post, data: { 'turbo': 'false' } do |f| %>
      <div class="form__group">
        <%= f.label :colour_preference, value: :light, class: 'form__row' do %>
          <ion-icon role="presentation" name="sunny"></ion-icon>
          Light mode
          <%= f.radio_button :colour_preference, :light %>
        <% end %>
        <%= f.label :colour_preference, value: :dark, class: 'form__row' do %>
          <ion-icon role="presentation" name="moon"></ion-icon>
          Dark mode
          <%= f.radio_button :colour_preference, :dark %>
        <% end %>
        <%= f.label :colour_preference, value: :auto, class: 'form__row' do %>
          <ion-icon role="presentation" name="sparkles"></ion-icon>
          Automatic
          <%= f.radio_button :colour_preference, :auto %>
        <% end %>
      </div>

      <%= f.submit 'Save', class: 'accent-block__button' %>
    <% end %>
  </div>
<% end %>