<%= turbo_frame_tag 'orgasm_form' do %>

  <div class="flashes">
    <% if notice %>
      <div class="flash--success unbounded">
        <%= notice %>
      </div>
    <% end %>
  </div>

  <%= form_with(model: orgasm, class: 'orgasms') do |form| %>
    <h3>Rate a recent orgasm</h3>
    <div class="orgasms__rating">
      <%= form.label :rating do %>
        1 😿
        <%= form.radio_button :rating, 1 %>
      <% end %>
      <%= form.label :rating do %>
        2
        <%= form.radio_button :rating, 2 %>
      <% end %>
      <%= form.label :rating do %>
        3
        <%= form.radio_button :rating, 3, checked: true %>
      <% end %>
      <%= form.label :rating do %>
        4
        <%= form.radio_button :rating, 4 %>
      <% end %>
      <%= form.label :rating do %>
        5 😻
        <%= form.radio_button :rating, 5 %>
      <% end %>
    </div>
    <%= form.label :is_ruined, class: 'form__row' do %>
      <ion-icon name="water"></ion-icon>
      Was Ruined
      <%= form.check_box :is_ruined %>
    <% end %>

    <div>
      <%= form.submit 'Log Orgasm' %>
    </div>
  <% end %>
<% end %>