<%= turbo_frame_tag 'orgasm_form' do %>
  <div class="accent-block">
    <div class="accent-block__charm">
      <ion-icon role="presentation" name="eye-off"></ion-icon>
      Only you see this
    </div>
    <%= form_with(model: orgasm, class: 'orgasms') do |form| %>
      <h2>
        <ion-icon role="presentation" name="ice-cream" class="big"></ion-icon>
        Orgasm
      </h2>

      <p>
        An orgasm will be recorded on your public profile for everyone to see! It's fun!
      </p>

      <div class="flashes">
        <% flash.each do |type, msg| %>
          <div class="flash--<%= type == 'notice' ? 'success' : 'danger' %> unbounded">
            <%= msg %>
          </div>
        <% end %>
      </div>
      
      <h3>Credit a user for causing this orgasm</h3>
      <%= form.text_field :caused_by_username, placeholder: 'Optional', class:"orgasms__credit_to_user" %>
      
      <h3>Satisfaction rating for this orgasm</h3>
      <div class="orgasms__rating">
        <div class="orgasms__rating__option">
          <%= form.label :rating do %>
            😿 1
          <% end %>
          <%= form.radio_button :rating, 1 %>
        </div>
        <div class="orgasms__rating__option">
          <%= form.label :rating do %>
            2
          <% end %>
          <%= form.radio_button :rating, 2 %>
        </div>
        <div class="orgasms__rating__option">
          <%= form.label :rating do %>
            3
          <% end %>
          <%= form.radio_button :rating, 3 %>
        </div>
        <div class="orgasms__rating__option">
          <%= form.label :rating do %>
            4
          <% end %>
          <%= form.radio_button :rating, 4 %>
        </div>
        <div class="orgasms__rating__option">
          <%= form.label :rating do %>
            5 😻
          <% end %>
          <%= form.radio_button :rating, 5 %>
        </div>
      </div>
      <%= form.label :is_ruined, class: 'form__row' do %>
        <ion-icon role="presentation" name="water"></ion-icon>
        Was Ruined
        <%= form.check_box :is_ruined %>
      <% end %>

      <div>
        <%= form.submit 'Log Orgasm' %>
      </div>
    <% end %>
  </div>
<% end %>