<%
  other_user = friendship.sender if friendship.sender.id != current_user.id
  other_user = friendship.receiver if friendship.receiver.id != current_user.id
%>

<div class="friendship" id="<%= dom_id friendship %>">
  <div class="friendship__names">
    <ion-icon name="heart"></ion-icon>
    <%= link_to other_user.username, user_path(other_user.username) %>
    since
    <%= friendship.updated_at.strftime('%d/%m/%Y') %>
  </div>
  <div class="friendship__actions">
    <% if action_name == 'index' %>
      <%= button_to friendship, method: :delete, class: 'no-underline secondary' do %>
        <ion-icon name="heart-dislike"></ion-icon>
        Unfriend
      <% end %>
    <% end %>
    <% if action_name == 'requests' %>
      <%= button_to "#{url_for(friendship)}/accept", method: :put, class: 'no-underline' do %>
        <ion-icon name="heart"></ion-icon>
        Accept
      <% end %>
      <%= button_to friendship, method: :delete, class: 'no-underline secondary' do %>
        <ion-icon name="heart-dislike"></ion-icon>
        Ignore
      <% end %>
    <% end %>
  </div>
</div>