<% target = "link_details_#{link.id}" %>
<% e621_url = "https://e621.net/posts?md5=#{ CGI.escape(link.post_url[/\w*(?=\.(png|jpg|bmp|webm|gif)$)/]) }" if link.post_url %>
<% client = link_agent_to_icon link.last_ping_user_agent %>
<% devices = {
  desktop: :desktop,
  android: :mobile,
  joihow: :desktop,
  automate: :mobile,
  arson_automate: :mobile,
  wallpaper_engine: :desktop,
  ioswidget: :mobile,
  swift: :desktop,
  android_changer: :mobile,
  jberliner: :desktop,
  chewtoy: :desktop,
  kemkem_userscript: :desktop,
  unknown: :desktop
} %>
<% device = devices[client] %>

<%= turbo_frame_tag target do %>

  <h2 class="one-line">
    <%= link_to link.user.username, user_path(link.user.username), target: '_top' %>'s wallpaper
    <small>
      Last
      changed <%= link.past_links.empty? ? 'never' : (time_ago_in_words link.past_links.last.created_at) + ' ago' %>
      <% if link.past_links.last.present? %>
        by
        <% if link.past_links.last.set_by_id.present? %>
          <% set_by = User.find(link.past_links.last.set_by_id) %>
          <%= link_to set_by.username, user_path(set_by.username), target: '_top', data: { controller: 'user-reference' } %>
        <% else %>
          anon
        <% end %>
      <% end %>
    </small>
  </h2>

  <% if link.post_thumbnail_url && link.post_url %>
    <figure>
      <a href="<%= link.post_url %>" target="_blank" class="background-sample">
        <% case device %>
        <% when :desktop %>
          <ion-icon role="presentation" name="laptop-outline" class="background-sample__icon--desktop"></ion-icon>
        <% when :mobile %>
          <ion-icon role="presentation" name="phone-portrait-outline" class="background-sample__icon--mobile"></ion-icon>
        <% end %>

        <img src="<%= link.post_thumbnail_url %>" class="background-sample__image--<%= device %>"/>
      </a>
      <figcaption class="link--description">
        <%= link_to e621_url, class: 'small' do %>
          Show on E621
          <ion-icon role="presentation" name="arrow-forward"></ion-icon>
        <% end %>
        <%= simple_format link.post_description %>
      </figcaption>
    </figure>
  <% end %>

<% end %>
