<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div class="error">
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.datetime_field :expires, class: 'flatpickr' %>
  </div>

  <div class="link--form--checkbox-row">
    <%= form.label :never_expires do %>
      <ion-icon name="infinite"></ion-icon>
      Never expires
    <% end %>
    <%= form.check_box :never_expires %>
  </div>

  <div class="link--form--checkbox-row">
    <%= form.label :friends_only do %>
      <ion-icon name="document-lock"></ion-icon>
      Friends Only (No public access)
    <% end %>
    <%= form.check_box :friends_only %>
  </div>

  <div>
    <%= form.label :blacklist, 'Blacklist (same format as e621.net)', style: "display: block" %>
    <%= form.text_field :blacklist %>
  </div>

  <div>
    <%= form.label :terms, style: "display: block" %>
    <%= form.text_area :terms, size: '70x5' %>
  </div>

  <div data-controller="theme-form" class="link--form--theme">
    <%= form.label :theme do %>
      <ion-icon name="pricetag-outline"></ion-icon>
      Theme tag
      <input type="checkbox" data-target="theme-form.switch" data-action="click->theme-form#toggle"/>
    <% end %>
    <div data-target="theme-form.container">
      <em>All wallpapers selected for this link must contain this tag. You can only use 1 theme tag. Leave it blank to
        allow all posts that are not otherwise blacklisted.</em><br/>
      <%= form.text_field :theme, placeholder: 'loimu_(character)', 'data-target': 'theme-form.input' %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
