<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div class="error">
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.datetime_field :expires %>
  </div>

  <div>
    <%= form.label :blacklist, 'Blacklist (same format as e621.net)', style: "display: block" %>
    <%= form.text_field :blacklist %>
  </div>

  <div>
    <%= form.label :terms, style: "display: block" %>
    <%= form.text_area :terms, size: '70x5' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
