<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div class="error">
      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="expiry-form">
    <div>
      <%= form.label :expires, style: "display: block" %>
      <%= form.datetime_field :expires, class: 'flatpickr', "data-expiry-form-target": "input" %>
    </div>

    <div class="link--form--checkbox-row">
      <%= form.label :never_expires do %>
        <ion-icon role="presentation" name="infinite"></ion-icon>
        Never expires
      <% end %>
      <%= form.check_box :never_expires, "data-expiry-form-target": "switch", "data-action": "click->expiry-form#toggle" %>
    </div>
  </div>

  <div class="link--form--checkbox-row">
    <%= form.label :friends_only do %>
      <ion-icon role="presentation" name="document-lock"></ion-icon>
      Friends Only (No public access)
    <% end %>
    <%= form.check_box :friends_only %>
  </div>

  <div>
    <%= form.label :blacklist, 'Blacklist (same format as e621.net)', style: "display: block" %>
    <%= form.text_field :blacklist %>
  </div>

  <div>
    <%= form.label :terms, style: "display: block" %>
    <%= form.text_area :terms, size: '70x5' %>
  </div>

  <div class="link--form--min_score" data-controller="range">
    <%= form.label :min_score do %>
      <ion-icon role="presentation" name="shield-outline"></ion-icon>
      Minimum score
    <% end %>
    <%= form.range_field :min_score, min: 0, max: 300, value: link.min_score || 0, data: { 'range-target': 'input', action: 'input->range#refresh' } %>
    <output for="link_min_score" data-range-target="value"></output>
  </div>

  <div data-controller="theme-form" class="link--form--theme">
    <%= form.label :theme do %>
      <ion-icon role="presentation" name="pricetag-outline"></ion-icon>
      Theme tag
      <input type="checkbox" data-theme-form-target="switch" data-action="click->theme-form#toggle"/>
    <% end %>
    <div data-theme-form-target="container">
      <em>All wallpapers selected for this link must contain this tag. You can only use 1 theme tag. Leave it blank to
        allow all posts that are not otherwise blacklisted.</em><br/>
      <%= form.text_field :theme, placeholder: 'loimu_(character)', 'data-theme-form-target': 'input' %>
    </div>
  </div>

  <div>
    <%= form.submit %>
    <%= form.submit 'Update and Test', class: 'secondary' %>
  </div>
<% end %>

<div class="link-form__abilities">
  <h3>
    <ion-icon name="sparkles"></ion-icon>
    Abilities
  </h3>
  <p>
    Some clients support special features that aren't required to be possible on every client. You can toggle those
    here, but they make break compatibility with some clients that don't support them.
  </p>

  <%= turbo_frame_tag 'link_form_abilities' do %>
    <div class="abilities">
      <div class="abilities__ability">
        <% can_show_videos = @link.check_ability 'can_show_videos' %>

        <div class="abilities__ability__title">
          <strong>
            <% if can_show_videos %>
              <ion-icon name="videocam"></ion-icon>
            <% else %>
              <ion-icon name="videocam-off"></ion-icon>
            <% end %>
            <%= can_show_videos ? 'Allowing' : 'Disallowing' %> videos
          </strong>
          <p>
            <% if can_show_videos %>
              Videos and GIFs can be selected, not just images.
            <% else %>
              Videos and GIFs cannot be selected, only images are selectable. (Default)
            <% end %>
          </p>
        </div>
        <div class="abilities__ability__controls">
          <%= button_to toggle_link_ability_link_path(ability: :can_show_videos), method: :post, class: can_show_videos ? 'enabled' : 'disabled' do %>
            <%= can_show_videos ? 'Disable videos' : 'Enable videos' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="accent-block">
  <div class="accent-block__charm">
    <ion-icon role="presentation" name="information-circle"></ion-icon>
    Need help?
  </div>
  There's a concise explanation of every single one of these options on the
  <a href="<%= help_path %>#getting-started-make-a-link">help page.</a>
</div>
