<div id="<%= dom_id link %>">
  <p>
    <strong>Expires:</strong>
    <%= link.expires.strftime '%A %e %b at %I:%M%p' %>
    <strong><%= '⚠️ Expired' if link.expires <= Time.now %></strong>
  </p>

  <p>
    <strong>Blacklist:</strong>
    <%= '⚠️ No Blacklisted Tags' if link.blacklist == '' %>
    <%= link.blacklist %>
  </p>

  <p>
    <strong>Terms:</strong>
    <% if link.terms == '' %>
      ⚠️ No Terms
    <% else %>
      <blockquote>
        <%= link.terms %>
      </blockquote>
    <% end %>
  </p>

</div>
