<div id="<%= dom_id link %>">
  <% if !link.never_expires && link.expires <= Time.now.utc %>
    <div class="accent-block accent-block--link">
      <div class="accent-block__charm">
        <ion-icon name="eye-off"></ion-icon>
        Only you see this because it's expired
      </div>
  <% end %>
  <div class="link" data-feed-number="<%= link_id_for_decoration link.id %>">

    <% unless link.post_thumbnail_url.nil? %>
      <div class="link--backdrop">
        <%= image_tag link.post_thumbnail_url %>
      </div>
    <% end %>

    <div class="link--presence">
      <% if link.last_ping %>
        <% if link.last_ping.after? (Time.now.utc - 1.minute) %>
          <strong class="online">Online</strong>
        <% else %>
          <strong class="offline"><abbr title=">1 minute since last ping">Offline</abbr></strong>
        <% end %>
      <% else %>
        <strong class="offline"><abbr title="New link with nothing currently connected">New</abbr></strong>
      <% end %>
    </div>

    <div class="link--expires">
      <% if link.never_expires %>
        <em>
          <ion-icon name="infinite"></ion-icon>
          Never expires
        </em>
      <% else %>
        <strong>Expires:</strong>
        <% if link.expires <= Time.now.utc %>
          <%= link.expires.strftime '%A %e %b at %I:%M%p' %> ⚠️ Expired
        <% else %>
          in <%= time_ago_in_words link.expires %>
        <% end %>
      <% end %>
    </div>

    <% unless link.theme.nil? || link.theme.empty? %>
      <div class="link--theme">
        <strong>
          <ion-icon name="pricetag-outline"></ion-icon>
          Theme
        </strong>
        <span><%= link.theme %></span>
      </div>
    <% end %>

    <div class="link--blacklist">
      <strong>
        <ion-icon name="cut"></ion-icon>
        Blacklist</strong>
      <div>
        <%= 'No Blacklisted Tags' if link.blacklist == '' %>
        <% if link.blacklist != '' %>
          <% link.blacklist.split(/(\s|,)/).filter { |tag| tag.length > 1 }.map { |tag| tag.gsub(/^-/, '') }.each do |tag| %>
            <span><%= tag %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="link--terms">
      <% if link.terms != '' %>
        <blockquote>
          <%= simple_format link.terms %>
        </blockquote>
      <% end %>
    </div>

    <div class="link--status-bar">
      <% if link.friends_only %>
        <abbr title="This link is for friends only" class="link--friends-only">
          <ion-icon name="document-lock"></ion-icon>
        </abbr>
      <% end %>

      <em><%= link.user.username %></em>

      <div class="link--device-in-use">
        <% case link_agent_to_icon link.last_ping_user_agent %>
        <% when :desktop %>
          <span>Pawcorp Desktop</span>
          <ion-icon name="laptop-outline"></ion-icon>
        <% when :android %>
          <span>Pawcorp Android</span>
          <ion-icon name="phone-portrait-outline"></ion-icon>
        <% when :joihow %>
          <span>JOI.how</span>
          <ion-icon name="earth-outline"></ion-icon>
        <% when :automate %>
          <span>Deans' Client</span>
          <svg height="28" width="28">
            <use xlink:href="/icon-automate.svg#Calque_1"></use>
          </svg>
        <% when :wallpaper_engine %>
          <span>Lycaon's Wallpaper Engine</span>
          <ion-icon name="cog"></ion-icon>
        <% when :swift %>
          <span>Mac Client</span>
          <ion-icon class="apple-icon" name="logo-apple"></ion-icon>
        <% when :unknown %>
          <ion-icon name="help-circle-outline"></ion-icon>
        <% end %>
      </div>
    </div>

  </div>

  <% if link.response_text && !link.disgust? %>
    <div class="link--response">
      <strong><%= link.user.username %>:</strong> <%= link.response_text %>
      <small>
        <% if link.horny? %>
          😍
        <% elsif link.came? %>
          💦 this post made them cum!
        <% end %>
      </small>
    </div>
  <% end %>

  <% if !link.never_expires && link.expires <= Time.now.utc %>
    </div>
  <% end %>
</div>