<div class="link" id="<%= dom_id link %>" data-feed-number="<%= link_id_for_decoration link.id %>">

  <div class="link--presence">
    <% if link.last_ping %>
      <% if link.last_ping.after? (Time.now.utc - 1.minute) %>
        <strong class="online">Online</strong>
      <% else %>
        <strong class="offline"><abbr title=">1 minute since last ping">Offline</abbr></strong>
      <% end %>
    <% else %>
      <strong class="offline"><abbr title="New link with nothing currently connected">New</abbr></strong>
    <% end %>
  </div>

  <div class="link--expires">
    <strong>Expires:</strong>
    <% if link.expires <= Time.now.utc %>
      <%= link.expires.strftime '%A %e %b at %I:%M%p' %> ⚠️ Expired
    <% else %>
      in <%= time_ago_in_words link.expires %>
    <% end %>
  </div>

  <div class="link--blacklist">
    <strong>Blacklist:</strong>
    <%= '⚠️ No Blacklisted Tags' if link.blacklist == '' %>
    <%= link.blacklist %>
  </div>

  <div class="link--terms">
    <strong>Terms:</strong>
    <% if link.terms == '' %>
      ⚠️ No Terms
    <% else %>
      <blockquote>
        <%= link.terms %>
      </blockquote>
    <% end %>
  </div>

  <div class="link--status-bar">
    <% if link.friends_only %>
      <abbr title="This link is for friends only" class="link--friends-only">
        <ion-icon name="document-lock"></ion-icon>
      </abbr>
    <% end %>

    <div class="link--device-in-use">
      <% case link_agent_to_icon link.last_ping_user_agent %>
      <% when :desktop %>
        Desktop <ion-icon name="laptop-outline"></ion-icon>
      <% when :android %>
        Android<ion-icon name="phone-portrait-outline"></ion-icon>
      <% when :unknown %>
        <ion-icon name="help-circle-outline"></ion-icon>
      <% end %>
    </div>
  </div>

</div>
