<%= turbo_frame_tag "submit_link_#{link.id}" do %>
  <div class="link--flashes">
    <% flash.each do |type, msg| %>
      <% unless type === 'notice' %>
        <div class="flash--danger">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: link, method: 'PATCH', class: 'set-post-id' do |form| %>
    <div>
      <%= form.label :post_id, 'E621 Post ID', style: "display: block" %>
      <%= form.text_field :post_id, autocomplete: 'off' %>
    </div>

    <div>
      <%= form.submit %>
    </div>

    <% unless (@link.theme.nil? || @link.theme.empty?) %>
      <p class="subdued center">
        The theme tag <strong>
        <ion-icon role="presentation" name="pricetag-outline"></ion-icon> <%= @link.theme %></strong> must be present.
      </p>
    <% end %>
    <%
      search_base = get_search_base(link)
      e621_base = "https://e621.net/posts?tags="
      e621_url = e621_base + CGI.escape(search_base)
    %>
    <%= link_to e621_url, target: '_blank', class: 'no-underline' do %>
      Browse E621 with this blacklist
      <ion-icon role="presentation" name="arrow-forward"></ion-icon>
    <% end %>
  <% end %>

  <figure class="half-page-break">
    <img src="/e621postid.gif"/>
    <figcaption>The post ID is the main number shown in the post URL. You should only include this number, not
      anything
      after the question mark in the post URL, or anything before the number.
    </figcaption>
  </figure>
<% end %>