<%= turbo_frame_tag "submit_link_#{link.id}" do %>
  <div class="link--flashes">
    <% flash.each do |type, msg| %>
      <div class="flash--<%= type == 'notice' ? 'success' : 'danger' %>">
        <%= msg %>
      </div>
    <% end %>
  </div>

  <%= form_with model: link, method: 'PATCH', class: 'set-post-id' do |form| %>
    <div>
      <%= form.label :post_id, 'E621 Post ID', style: "display: block" %>
      <%= form.text_field :post_id %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

  <% if @link.theme %>
    <p class="subdued center">
      The theme tag <strong><ion-icon name="pricetag-outline"></ion-icon> <%= @link.theme %></strong> must be present on post.
    </p>
  <% end %>

  <figure class="half-page-break">
    <img src="/e621postid.gif"/>
    <figcaption>The post ID is the main number shown in the post URL. You should only include this number, not
      anything
      after the question mark in the post URL, or anything before the number.
    </figcaption>
  </figure>
<% end %>