<% content_for(:html_title) { 'Browse Walltaker Links' } %>

<div class="task-tools">
  <div class="left">
    <%= link_to "Back to dashboard", root_path %>
  </div>

  <div class="right">
    <%= button_to search_path, method: :get do %>
      <ion-icon role="presentation" name="search-sharp"></ion-icon>
      Search
    <% end %>
  </div>
</div>

<h2>
  <ion-icon role="presentation" name="documents" class="big"></ion-icon>
  Browse Links
  <small>All public online links ordered by who needs the most attention at the top.</small>
</h2>

<% if @new_user_links.count != 0 %>
  <section class="browse-links__subheading">
    <h3>New User's Links</h3>
    <p>User's who created their account recently get featured here for a short amount of time.</p>
  </section>
  <div id="new-user-links" class="browse-links">
    <% @new_user_links.each do |link| %>
      <div data-controller="go" data-go-to-value="<%= link_url(link) %>">
        <%= render link %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @new_user_links.count != 0 %>
  <section class="browse-links__subheading">
    <h3>The "Algorithm"</h3>
    <p>My arbitrary algorithm that determines the order of this list.</p>
  </section>
<% end %>
<div id="links" class="<%= 'browse-links' if @links.count != 0 %>">
  <% @links.each do |link| %>
    <div data-controller="go" data-go-to-value="<%= link_url(link) %>">
      <%= render link %>
    </div>
  <% end %>

  <% if @links.count == 0 %>
    <h4>No one is online!</h4>
    <p>
      No links are currently being used. Maybe you should use your own? Click <strong>Links</strong> in the navigation
      bar to get started.
    </p>
  <% end %>
</div>