<div class="task-tools">
  <div class="left">
    <%= link_to "Back to dashboard", root_path %>
  </div>
  <div class="right">
    <%= button_to "New link", new_link_path, method: :get %>
  </div>
</div>

<h2><%= current_user.username %>'s links</h2>

<div id="links">
  <% @links.each do |link| %>
    <%= render link %>
    <p>
      <%= link_to "Show this link", link %>
    </p>
  <% end %>

  <% if @links.count == 0 %>
    <h4>No links?</h4>
    <p>
      You'll need to click <span class="mock-button">New link</span> in the toolbar to set up a link that others can use to push wallpapers to your device.
    </p>
  <% end %>
</div>