<% content_for(:html_title) { "Walltaker ##{@link.id} for #{@link.user.username}" } %>

<div data-controller="presence" data-presence-id-value="<%= @link.id %>"></div>

<% if @is_current_user %>
  <div class="task-tools" data-controller="link" data-link-id-value="<%= @link.custom_url || @link.id %>">
    <dialog class="modal" data-link-target="modal">
      <h4>Confirm Delete</h4>
      <p>Are you sure you want to delete this link?</p>
      <div class="modal__buttons">
        <%= button_tag class: 'no-underline primary', data: { 'link-target': 'cancel', action: 'click->link#cancel' } do %>
          <ion-icon role="presentation" name="close"></ion-icon>
          Cancel
        <% end %>
        <%= button_to "Delete this link", @link, method: :delete, class: 'no-underline secondary' %>
      </div>
    </dialog>
    <div class="left">
      <%= link_to "Back", links_path %>
    </div>
    <div class="right">
      <a href="#" class="no-underline">
        <ion-icon data-link-target="shareIcon" role="presentation" name="share-outline"></ion-icon>
        <ion-icon data-link-target="checkmarkIcon" role="presentation" name="checkmark" style="display: none"></ion-icon>
        <span data-link-target="copy">Copy URL</span>
      </a>
      <a href="<%= edit_link_path(@link) %>" title="Edit this link" class="no-underline">
        <ion-icon role="presentation" name="build"></ion-icon>
        Edit
      </a>
      <%= button_tag "Delete", data: { action: 'click->link#confirm' } %>
    </div>
  </div>
<% else %>
  <div class="task-tools">
    <% if _filtered_referrer %>
      <div class="left">
        <%= link_to "Back", :back %>
      </div>
    <% end %>
    <div class="right">
      <% if !@has_friendship %>
        <a href="<%= url_for :action => :new, :controller => :friendships, :params => { :with => @link.user.username } %>" title="Become friends" class="no-underline">
          <ion-icon role="presentation" name="person-add"></ion-icon>
          Send Friend Request
        </a>
      <% end %>

      <% unless current_user.nil? %>
        <%= button_to fork_link_link_path, method: :post do %>
          <ion-icon role="presentation" name="git-branch"></ion-icon>
          Fork
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= turbo_stream_from @link %>
<%= render @link %>

<% if @is_current_user %>
  <div class="accent-block">
    <div class="accent-block__charm">
      <ion-icon role="presentation" name="eye-off"></ion-icon>
      Only you see this
    </div>

    <h2>
      <ion-icon role="presentation" name="person" class="big"></ion-icon>
      Your Link
    </h2>

    <p>Give live feedback to people who are setting your wallpaper! Type any message in below, and choose a mood. "Hate
      it!" will remove the current wallpaper entirely.</p>
    <%= form_with model: @link, method: 'PATCH', class: 'set-post-response' do |form| %>
      <div>
        <%= form.text_field :response_text, placeholder: 'How do you feel about this wallpaper?', autocomplete: 'off' %>
        <%= form.select :response_type, [['Love it!', :horny], ['Hate it!', :disgust], ['I came', :came]] %>
      </div>

      <%= form.submit 'Send Feedback' %>
    <% end %>

    <h3>Set up your link</h3>

    <p>
      You'll need a client that watches for changes to this link and sets your background for you. You can see a list of
      available clients on the <%= link_to 'homepage.', root_path(anchor: "what-do-i-need") %> Once you have a client
      set up, you can drop this configuration file in the same folder to connect to this link if it's required, or
      manually set your feed ID to
      <strong>"<%= @link.id %>"</strong>.
    </p>

    <a download href="<%= link_url(@link) %>/walltaker.toml">
      <ion-icon role="presentation" name="document-outline"></ion-icon>
      walltaker.toml
    </a>
  </div>

  <div class="accent-block">
    <div class="accent-block__charm">
      <ion-icon role="presentation" name="information-circle"></ion-icon>
      Need help?
    </div>
    I wrote up some tips about combating harassment on the <a href="<%= help_path %>#bad-wallpaper">help page.</a>
  </div>
<% end %>

<% if current_user %>
  <aside class="comments-sidebar" data-controller="comments-sidebar" data-hidden="true">
    <button data-comments-sidebar-target="toggle" data-action="click->comments-sidebar#toggleClick" data-hidden="true">
      <ion-icon role="presentation" class="toggle-open-icon" name="chatbox-ellipses"></ion-icon>
      <ion-icon role="presentation" class="toggle-close-icon" name="caret-forward"></ion-icon>
      <div class="toggle-badge" data-comments-sidebar-target="badge" data-hidden="true"></div>
    </button>
    <%= turbo_stream_from "link_comments_#{@link.id}" %>
    <div id="comments">
      <%= turbo_frame_tag "link_comments", src: link_comments_path(link_id: @link.id) %>
    </div>
    <%= turbo_frame_tag "link_comments_new", src: new_link_comment_path(link_id: @link.id) %>
  </aside>
<% end %>

<%= turbo_stream_from "link_details_#{@link.id}" %>
<%= render 'details', link: @link, set_by: @set_by %>

<div class="tabs" data-controller="tabs">
  <div class="tabs__charm">
    <ion-icon role="presentation" name="magnet"></ion-icon>
    Select wallpaper via...
  </div>

  <% seconds_since_last_wallpaper = @link.past_links.last.present? ? Time.now - @link.past_links.last.created_at : 9999 %>

  <div
    class="tab"
    data-tabs-target="tab"
    data-title="Search"
    data-controller="porn-search"
    data-porn-search-seconds-since-last-wallpaper-value="<%= seconds_since_last_wallpaper %>"
  >
    <dialog class="modal" data-porn-search-target="modal">
      <h4>Confirm Wallpaper</h4>
      <p>This link's wallpaper was changed less than a minute ago, are you sure you want to overwrite it so soon?</p>
      <div class="modal__buttons">
        <%= button_tag class: 'no-underline primary', data: { 'link-target': 'cancel', action: 'click->porn-search#cancel' } do %>
          <ion-icon role="presentation" name="close"></ion-icon>
          Cancel
        <% end %>
        <%= button_tag "Yes, Use This Wallpaper", class: 'no-underline secondary', data: { action: 'click->porn-search#confirm' } %>
      </div>
    </dialog>
    <div class="link--flashes">
      <% flash.each do |type, msg| %>
        <% unless type === 'notice' %>
          <div class="flash--danger">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
    <p>
      Enter some e621 tags, click search, then click any post to
      set <%= @link.user.username %>'s wallpaper.
    </p>

    <% unless @link.theme.nil? || @link.theme&.empty? %>
      <p class="subdued">
        The theme tag <strong>
        <ion-icon role="presentation" name="pricetag-outline"></ion-icon> <%= @link.theme %></strong> is being
        automatically applied.
      </p>
    <% end %>

    <% if @link.check_ability 'can_show_videos' %>
      <p class="subdued">
        You can select
        <strong>
          <ion-icon class="video-icon" role="presentation" name="videocam"></ion-icon>
          videos
        </strong>
        on this link.
      </p>
    <% end %>

    <%= turbo_frame_tag "pornsearch", src: porn_search_index_path({ link: @link.id }) do %>
      <div>
        Loading
      </div>
    <% end %>
  </div>

  <div class="tab" data-tabs-target="tab" data-title="Post ID">
    <%= render 'submit', link: @link %>
  </div>

</div>

<%= turbo_stream_from "link_viewing_users_#{@link.id}" %>
<%= render 'viewing_users', link: @link %>

<% if @link.forks.count.positive? %>
  <h4 class="forks-header">
    <ion-icon role="presentation" name="git-branch"></ion-icon>
    <%= pluralize @link.forks.count, 'Fork' %>
  </h4>
  <p>
    <% @link.forks.each do |fork| %>
      <%= link_to fork do %>
        <%= fork.user.username %>#<%= fork.id %>
      <% end %>
    <% end %>
  </p>
<% end %>
