<% if current_user && current_user.id == @link.user.id %>
  <div class="task-tools">
    <div class="left">
      <%= link_to "Back to links", links_path %>
    </div>
    <div class="right">
      <%= link_to "Edit this link", edit_link_path(@link) %>
      <%= button_to "Delete this link", @link, method: :delete %>
    </div>
  </div>
<% end %>

<%= render @link %>

<h2>Change <%= @link.user.username %>'s wallpaper</h2>

<% if @link.post_thumbnail_url %>
  <figure>
    <a href="<%= @link.post_url %>" target="_blank">
      <img src="<%= @link.post_thumbnail_url %>"/>
    </a>
    <figcaption>
      <%= @link.post_description %>
    </figcaption>
  </figure>
<% end %>

<%= form_with model: @link, method: 'PATCH', class: 'set-post-id' do |form| %>
  <div>
    <%= form.label :post_id, 'E621 Post ID', style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<figure class="half-page-break">
  <img src="/e621postid.gif"/>
  <figcaption>The post ID is the main number shown in the post URL. You should only include this number, not anything after the question mark in the post URL, or anything before the number.</figcaption>
</figure>