<% if current_user && current_user.id == @link.user.id %>
  <div class="task-tools">
    <div class="left">
      <%= link_to "Back to links", links_path %>
    </div>
    <div class="right">
      <a href="<%= edit_link_path(@link) %>" title="Edit this link" class="no-underline">
        <ion-icon name="build"></ion-icon>
        Edit
      </a>
      <%= button_to "Delete this link", @link, method: :delete %>
    </div>
  </div>
<% end %>

<%= render @link %>

<% if (current_user && (current_user.id == @link.user.id)) %>
  <h2><ion-icon name="warning-outline" class="big"></ion-icon> Set up your client</h2>

  <p>
    You'll need a client that watches for changes to this link and sets your background for you. You can see a list of
    available clients on the <%= link_to 'homepage.', root_path %> Once you have a client set up, you can drop this
    configuration file in the same folder to connect to this link if it's required, or manually set your feed ID to <strong>"<%= @link.id %>"</strong>.
  </p>

  <a download href="<%= link_url(@link) %>/walltaker.toml">
    <ion-icon name="document-outline"></ion-icon>
    walltaker.toml</a>
<% end %>

<h2>Change <%= @link.user.username %>'s wallpaper</h2>

<% if @link.post_thumbnail_url %>
  <figure>
    <a href="<%= @link.post_url %>.toml" target="_blank">
      <img src="<%= @link.post_thumbnail_url %>"/>
    </a>
    <figcaption>
      <%= @link.post_description %>
    </figcaption>
  </figure>
<% end %>

<%= form_with model: @link, method: 'PATCH', class: 'set-post-id' do |form| %>
  <div>
    <%= form.label :post_id, 'E621 Post ID', style: "display: block" %>
    <%= form.text_field :post_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<figure class="half-page-break">
  <img src="/e621postid.gif"/>
  <figcaption>The post ID is the main number shown in the post URL. You should only include this number, not anything
    after the question mark in the post URL, or anything before the number.
  </figcaption>
</figure>