<% content_for(:html_title) { "Walltaker ##{@link.id} for #{@link.user.username}" } %>

<% if @is_current_user %>
  <div class="task-tools" data-controller="link">
    <dialog class="modal" data-link-target="modal">
      <h4>Confirm Delete</h4>
      <p>Are you sure you want to delete this link?</p>
      <div class="modal__buttons">
        <%= button_tag class: 'no-underline primary', data: { 'link-target': 'cancel', action: 'click->link#cancel' } do %>
          <ion-icon name="close"></ion-icon>
          Cancel
        <% end %>
        <%= button_to "Delete this link", @link, method: :delete, class: 'no-underline secondary' %>
      </div>
    </dialog>
    <div class="left">
      <%= link_to "Back to links", links_path %>
    </div>
    <div class="right">
      <a href="<%= edit_link_path(@link) %>" title="Edit this link" class="no-underline">
        <ion-icon name="build"></ion-icon>
        Edit
      </a>
      <%= button_tag "Delete this link", data: { action: 'click->link#confirm' } %>
    </div>
  </div>
<% else %>
  <div class="task-tools">
    <% if _filtered_referrer %>
      <div class="left">
        <%= link_to "Back", :back %>
      </div>
    <% end %>
    <% if !@has_friendship %>
      <div class="right">
        <a href="<%= url_for :action => :new, :controller => :friendships, :params => { :with => @link.user.username } %>" title="Become friends" class="no-underline">
          <ion-icon name="person-add"></ion-icon>
          Send Friend Request
        </a>
      </div>
    <% end %>
  </div>
<% end %>

<%= turbo_stream_from @link %>
<%= render @link %>

<% if @is_current_user %>
  <div class="accent-block">
    <div class="accent-block__charm">
      <ion-icon name="eye-off"></ion-icon>
      Only you see this
    </div>

    <h2>
      <ion-icon name="person" class="big"></ion-icon>
      Your Link
    </h2>

    <p>Give live feedback to people who are setting your wallpaper! Type any message in below, and choose a mood. "Hate
      it!" will remove the current wallpaper entirely.</p>
    <%= form_with model: @link, method: 'PATCH', class: 'set-post-response' do |form| %>
      <div>
        <%= form.text_field :response_text, placeholder: 'How do you feel about this wallpaper?' %>
        <%= form.select :response_type, [['Love it!', :horny], ['Hate it!', :disgust], ['I came', :came]] %>
      </div>

      <%= form.submit 'Send Feedback' %>
    <% end %>

    <h3>Set up your link</h3>

    <p>
      You'll need a client that watches for changes to this link and sets your background for you. You can see a list of
      available clients on the <%= link_to 'homepage.', root_path(anchor: "what-do-i-need") %> Once you have a client
      set up, you can drop this configuration file in the same folder to connect to this link if it's required, or
      manually set your feed ID to
      <strong>"<%= @link.id %>"</strong>.
    </p>

    <a download href="<%= link_url(@link) %>/walltaker.toml">
      <ion-icon name="document-outline"></ion-icon>
      walltaker.toml
    </a>
  </div>
<% end %>

<%= turbo_frame_tag "link_comments", src: link_comments_path(link_id: @link.id) %>
<%= turbo_frame_tag "link_comments_new", src: new_link_comment_path(link_id: @link.id) %>

<%= turbo_stream_from "link_details_#{@link.id}" %>
<%= render 'details', link: @link %>

<div class="tabs" data-controller="tabs">
  <div class="tabs__charm">
    <ion-icon name="magnet"></ion-icon>
    Select wallpaper via...
  </div>

  <div class="tab" data-tabs-target="tab" data-title="Search">
    <p>
      Enter some e621 tags, click search, then click any post to
      set <%= @link.user.username %>'s wallpaper.
    </p>
    <% unless (@link.theme.nil? || @link.theme.empty?) %>
      <p class="subdued">
        The theme tag <strong>
        <ion-icon name="pricetag-outline"></ion-icon> <%= @link.theme %></strong> is being automatically applied.
      </p>
    <% end %>
    <%= turbo_frame_tag "pornsearch", src: porn_search_index_path({ link: @link.id }) do %>
      <div>
        Loading
      </div>
    <% end %>
  </div>

  <div class="tab" data-tabs-target="tab" data-title="Post ID">
    <%= render 'submit', link: @link %>
  </div>

</div>