<%= turbo_frame_tag "pornsearch_results" do %>
  <% unless @posts.empty? || @link.id.nil? %>
    <div class="results">
      <% @posts.each do |post| %>
        <% if post['preview']['url'] %>
          <% new_link = { id: @link.id, post_id: post['id'] } %>
          <%= button_to url_for(controller: :links, action: :update, id: @link.id, link: new_link), method: :patch, data: {
            turbo_frame: '_top',
            'porn-search-target': 'thumbnail',
            action: 'click->porn-search#click_thumbnail'
          } do %>
            <img src="<%= post['preview']['url'] %>"/>
          <% end %>
        <% else %>
          <strong>Blacklisted</strong>
        <% end %>
      <% end %>
    </div>
    <div class="pornsearch_results__buttons">
      <%= link_to 'back', url_for({ tags: @last_tags, before: @posts.first['id'], link: @link.id }) %>
      <%= link_to 'next', url_for({ tags: @last_tags, after: @posts.last['id'], link: @link.id }) %>
    </div>
  <% end %>
  <% if @posts.empty? %>
    <p>
      <strong>Sorry</strong>
      <% if @link.theme.nil? || @link.theme.empty? %>
        that search returned nothing. This search obeys the e621 global blacklist, and also has
        some light filtering to prevent easy abuse.
      <% else %>
        that search may not have returned any results that match the theme tag (<%= @link.theme %>) that the link owner
        chose. Search with an empty tag list to see all theme-matching posts.
      <% end %>
    </p>
  <% end %>
<% end %>