<%= turbo_frame_tag :mod_tools_password_reset_form do %>
  <%= form_with url: mod_tools_passwords_update_path, method: :post do |f| %>
    <%= f.label :email, 'Email address user claims is theirs:', style: "display: block" %>
    <%= f.text_field :email, value: params['email'] %>
    <%= f.submit 'Try to generate a reset link' %>
  <% end %>

  <% if params['fail'] || params['link'] %>
    <div class="mod_tool__result mod_tool__result--<%= params['fail'] ? 'fail' : 'success' %>">
      <% if params['fail'] %>
        <ion-icon name="close-circle" class="big"></ion-icon> <%= params['fail'] %><br/>
      <% end %>

      <% if params['link'] %>
        <ion-icon name="checkbox" class="big"></ion-icon>
        Found 1 user, <strong><%= params['username'] %></strong><br/>
        <code>https://walltaker.joi.how/i-forgor/commit/<%= params['link'] %></code>
      <% end %>
  <% end %>
  </div>
<% end %>
