<%= turbo_frame_tag "header_notifications", target: '_top' do %>
  <div class="notifications" data-controller="notifications">
    <%= button_tag class: 'notification-bell', data: { 'notifications-target': 'trigger', 'action': 'click->notifications#toggle' } do %>
      <ion-icon role="presentation" name="notifications"></ion-icon>
    <% end %>

    <div class="notifications__popover" data-notifications-target="popover">
      <% if notifications.count == 0 %>
        <div class="notifications__empty">
          No notifications yet.
        </div>
      <% else %>
        <% notifications.each do |notification| %>
          <%= link_to notification_path(notification.id), class: 'notification' do %>
            <% case notification.notification_type %>
              <% when 'friend_request_sent' %>
                <ion-icon role="presentation" name="send"></ion-icon>
              <% when 'friend_request_received' %>
                <ion-icon role="presentation" name="boat"></ion-icon>
              <% when 'friend_request_they_accepted' %>
                <ion-icon role="presentation" name="heart"></ion-icon>
              <% when 'post_response' %>
                <ion-icon role="presentation" name="chatbubble-ellipses"></ion-icon>
              <% when 'added_to_message_thread' %>
                <ion-icon role="presentation" name="people"></ion-icon>
              <% when 'new_message' %>
                <ion-icon role="presentation" name="mail-unread"></ion-icon>
              <% when 'orgasm_credited_to_you' %>
                <ion-icon role="presentation" name="ice-cream"></ion-icon>
            <% end %>
            <div>
              <p><%= notification.text %></p>
              <%= time_tag notification.created_at do %>
                <%= time_ago_in_words notification.created_at %> ago
              <% end %>
            </div>
          <% end %>
        <% end %>

        <%= button_to clear_notifications_path, method: 'delete' do %>
          <ion-icon role="presentation" name="trash"></ion-icon>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>