<!DOCTYPE html>
<html>
<head>
  <title>Walltaker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/base.css"/>
  <link rel="stylesheet" href="/link.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header>
  <div class="header__inner">
    <h1><a href="/">Walltaker</a></h1>
    <div class="user-tools">
      <% if current_user %>
        <span><%= current_user.username %></span>
        <a href="<%= url_for :action => :browse, :controller => :links %>">
          <ion-icon name="sparkles"></ion-icon>
          Browse
        </a>
        <%= link_to 'Links', links_path %>
        <%= link_to 'Friends', friendships_path %>
        <%= link_to 'Log Out', logout_path %>
      <% else %>
        <a href="<%= url_for :action => :browse, :controller => :links %>">
          <ion-icon name="sparkles"></ion-icon>
          Browse
        </a>
        <%= link_to 'Sign Up', signup_path %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </div>
  </div>
</header>

<div class="flashes">
  <% flash.each do |type, msg| %>
    <div class="flash--<%= type == 'notice' ? 'success' : 'danger' %>">
      <%= msg %>
    </div>
  <% end %>
</div>

<main>
  <%= yield %>
</main>

<footer>
  <p>Want more horny debauchery? Try <a href="https://joi.how">joi.how</a>.</p>
  <small>© joi.how 2022</small>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
    flatpickr('.flatpickr', {
        enableTime: true,
        dateFormat: 'Z'
    });
</script>
</body>
</html>
